@import "../../utils/index.scss";

.header {
  &__body {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: $color-secondary-2;
    color: $text-color-light;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
  }

  @media (max-width: $screen-xs) {
    &__body {
      font-size: large;
    }
  }
}
